# Python
__pycache__/
*.pyc
db.sqlite3
.env

# Node
node_modules/
dist/

# Editor
.vscode/

# Other

cookies.txt

.nvmrc

.DS_Store
backend/.env
.env

# Editor/local files
.vscode/

# Local browser/API test files
frontend/cookies.txt

# Secrets
backend/.env
.env
*.env
